<launch>
	
	<!-- Play pen create 
	<include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch"/>-->
	
	<!-- Action client and server nodes for navigating the play pen -->
	<node pkg="pas" type="as" name="my_action_server" output="screen"/>
	<node pkg="pas" type="ac" name="my_action_client" output="screen"/>

	<!-- Old LIDAR based alarm from a previous HW. Dont show on screen because it spams! -->
	<node pkg="rc" type="lidar_alarm2" name="lidar_alarm2"/>

</launch>
